// Colors

$primary_dark: #1c307f;
$primary_medium: #2540aa;
$primary_main: #2e50d4;
$primary_light: #8296e5;

$secondary_main: #ff6746;
$secondary_light: #ffb3a3;

$gray_dark: #575453;
$gray_medium: #999392;
$gray_main: #dad2d0;
$gray_light: #f4f2f1;

$alert_main: #ef4056;
$green_main: #00b833;
$app_background: #fffffb;

// End Colors

$headerHeight: 56px;
