.cardbox {
    position: relative;
    width: 297px;
    height: 223px;
    background: #ffffff;
    border: 2px solid #f4f2f1;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 26px;
    padding-top: 20px;
}
